body {
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#menu-bar-container {
    height: 25%;
    overflow: auto;
}

#menu-bar {
    width: 90%;
    height: 50px;
    text-align: right;
}

.menu-bar-item {
    border: 2px solid;
    /* margin: 10px; */
    padding: 5px 10px;
    display: inline;
    font-size: 25px;
    text-align: center;
}

#body {
    height: 50%;
    overflow: auto;
}

#main-graphic {
    width: 60%;
    height: 100%;
    float: left;
    padding: 25px;
}

#roll-graphic {
    display: inline;
    overflow: hidden;
}

#product-info {
    /* width: 50%; */
    display: inline;
    overflow: hidden;
}

#title {
    font-size: 30px;
    text-decoration: underline;
}

#description {
    font-size: 15px;
    /* padding: 15px 60px 0px 80px; */
}

.firstcharacter {
    float: left;
    font-size: 45px;
    line-height: 37px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}

#menu-container {
    float: right;
}

#menu {
    padding: 150px 150px 100px 0px;
    font-size: 20px;
}

#menu-title {
    padding-left: 40px;
}

#selectors {
    margin-top: 40px;
}

.amount-selector-item {
    display: inline;
    margin: 20px;
}

.glaze-selector-item {
    display: inline;
    margin: 20px;
}

#add-to-cart {
    margin-top: 20px;
}