body {
    font-size: 16px;
    font-family: Helvetica;
    background-color: aquamarine;
  }
  
  #instructors {
    background-color: beige;
    padding: 10px;
  }
  
  .instructor {
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 15px;
    margin-top: 20px;
    background-color: darkgray;
  }

  .hcii {
      color: red;
  }
  
  .info-container {
    padding-right: 20px;
  }

  .info-container h3 {
    font-size: 1.4rem;
    font-weight: 800;
    font-style: italic;
  }
  
  .info-container img {
    width: 300px;
    max-height: 300px;
    object-fit: contain;
  }
  
  .bio-container {
    font-size: 1.2rem;
  }