#body {
    position: relative;
    height: 80%;
}

#cart-table-container {
    display: inline-block;
    width: 59%;
    position: absolute;
    top: 100px;
}

#cart-table{
    padding-left: 65px;
    width: 100%;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}